---
name: Close Stale Discussions
permissions: {}

on:
  schedule:
    - cron: '00 11 * * *'
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'dry-run: when checked, no discussions will be closed'
        type: boolean

jobs:
  close-stale-discussions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        category:
          - 'Actions'
          - 'GSMS'
          - 'Libraries'
          - 'Sunshine'
          - 'Themerr'
      max-parallel: 1  # run one at a time to attempt to avoid GitHub api rate limits
    steps:
      - name: stalesweeper
        uses: thenick775/stalesweeper@eeb7723f2e609a0380ff8ca7813580944dd193a6  # repo does not have releases
        env:
          DAYS_BEFORE_CLOSE: '365'
          DRY_RUN: ${{ github.event_name == 'schedule' && 'false' || github.event.inputs.dry-run }}
        with:
          category: ${{ matrix.category }}
          close-reason: 'OUTDATED'
          close-unanswered: 'true'
          days-before-close: '${{ env.DAYS_BEFORE_CLOSE}}'
          dry-run: ${{ env.DRY_RUN }}
          exempt-labels: 'Feature Request'
          message: >
            This discussion was automatically closed because it has been inactive for ${{ env.DAYS_BEFORE_CLOSE}} days.
          repo-token: ${{ secrets.GH_BOT_TOKEN }}
