---
# borrowed from
# https://github.com/community/community/blob/6c83e35151f0af5614797de5edf90e77aa7e3e23/.github/workflows/recategorize-discussions.yml

name: Recategorize labeled discussions
permissions:
  discussions: write

on:
  workflow_dispatch:
    inputs:
      category:
        description: 'The name of the category the labeled discussions will be moved to'
        default: ''
        required: true
        type: string
      label:
        description: 'Label for discussions that will be recategorized'
        default: ''
        required: true
        type: string
      max_to_move:
        description: 'The maximum number of discussions we should try to move (up to 100), helpful in testing'
        type: number
        default: 50
        required: true

jobs:
  recategorize-discussions:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      INPUT_CATEGORY: ${{ inputs.category }}
      INPUT_LABEL: ${{ inputs.label }}
      INPUT_MAX_TO_MOVE: ${{ inputs.max_to_move }}
    steps:
      - name: Send greeting
        run: echo "Moving Discussions labeled ${INPUT_LABEL} to category ${INPUT_CATEGORY}"

      # Use the graphql search api to find all discussions with the label using the search() query
      - name: Find labeled discussions
        run: |
          searchQuery="label:\"${INPUT_LABEL}\" repo:${GITHUB_REPOSITORY} -category:\"${INPUT_CATEGORY}\""
          discussions="$(gh api graphql -F queryString="${searchQuery}" -f query="
            query(\$queryString: String!) {
              search(query:\$queryString,type:DISCUSSION,first:${INPUT_MAX_TO_MOVE}){
                nodes{
                  ...on Discussion{id}
                }
              }
            }" | jq -r '.data.search.nodes[].id')"
          echo "Found discussions: ${discussions}"
          echo "DISCUSSIONS_TO_TRANSFER=${discussions}" >> "${GITHUB_ENV}"

      - name: Find the id of the discussion category in the current repository
        run: |
          # split github.repository into owner and name
          repoName=$(echo "${GITHUB_REPOSITORY}" | cut -d '/' -f 2)
          found_category=$(gh api graphql -F name="${repoName}" -F owner="${GITHUB_REPOSITORY_OWNER}" -f query="
            query(\$name: String!, \$owner: String!){
              repository(owner:\$owner, name:\$name){
                discussionCategories(first:100){
                  nodes{
                    id
                    name
                  }
                }
              }
            }" | jq -r --arg category "${INPUT_CATEGORY}" '.data.repository.discussionCategories.nodes[] | \
              select(.name==$category) | .id')
          echo "CATEGORY_ID=${found_category}" >> "${GITHUB_ENV}"

      - name: Dryrun
        run: |
          echo "Dryrun"
          echo "DISCUSSIONS_TO_TRANSFER=${DISCUSSIONS_TO_TRANSFER}"
          echo "CATEGORY_ID=${CATEGORY_ID}"

      - name: Move discussions
        run: |
          # DISCUSSIONS_TO_TRANSFER is in the form "id_1 id_2 id_3"
          # Loop over the ids and use the updateDiscussion mutation to move the discussion to the new category
          for discussion_id in ${DISCUSSIONS_TO_TRANSFER}; do
            echo "Moving discussion $discussion_id to category ${CATEGORY_ID}"
            gh api graphql -F discussionId="${discussion_id}" -F categoryId="${CATEGORY_ID}" -f query="
              mutation(\$discussionId: ID!, \$categoryId: ID!) {
                updateDiscussion(input: {discussionId: \$discussionId, categoryId: \$categoryId}) {
                  discussion {
                    number
                  }
                }
              }"
          done
