---
name: Monitor RSS feed
permissions: {}

on:
  schedule:
    - cron: "0 * * * *"  # hourly

jobs:
  rss-monitor:
    runs-on: ubuntu-latest
    steps:
      # TODO: This action outputs a comma separated list of issue numbers
      # TODO: Use that to run the follow up action instead of using the separate `rss-notifier.yml` workflow
      # TODO: Separate release blog posts and use different labels/discord channel for them
      - name: RSS to issues
        uses: git-for-windows/rss-to-issues@48c22f7f733ca11653f08694a2868fcda4246e89  # v0.3.4
        with:
          github-token: ${{ secrets.GH_BOT_TOKEN }}
          feed: https://lizardbyte.github.io/feed.xml
          character-limit: 0
          dry-run: false
          max-age: 168h
          labels: blog
          url-only: true
